* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/background-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 20px;
}

body {
    margin: auto;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 48px;
}

.menu-list li {
    list-style: none;
}

.footer {
    padding: 1rem 1.5rem 1rem;
}

.footer img {
    max-width: 30px;
    max-height: 10px;
}