* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/background-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 20px auto 5px auto;
}

body {
    margin: auto;
    padding: 20px;
}

body>header {
    margin-bottom: 2em;
}

main {
    max-width: 1680px;
    margin: 0 auto!important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 48px;
}

.menu-list li {
    list-style: none;
}

select {
    width: 100%;
}

.input {
    border-radius: 0;
}



.footer {
    padding: 1rem 1.5rem 1rem;
}

.footer img {
    height: 1em;
}

#popcorn-bucket {
    position: relative;
}

#popcorn-bucket img {
    width: 100%;
}

#popcorn-bucket figcaption {
    position: absolute;
    bottom: 0;
    height: 50%; /* adjusting height here changes how far the box is from the top of the image */
    width: 100%;
    padding-left: 10%;
}

#popcorn-bucket .title{
    font-size: 1.5rem;
}

.saved-watch-list-container {
    width: 50%;
    height: 70%; /* adjusting height here changes how far the box is from the bottom of the image */
    overflow-y: auto;
    margin: 0 auto;
    background-color: #fff;
}


/* Movie Cards */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5em;
}

.card-grid .card-header-title{
    color: #fff;
}

.card-grid a{
    color: #8cbcff;
    font-weight: bold;
}

.card-grid .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}
