* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url(../images/background-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 20px auto 5px auto;
}

body {
    margin: auto;
    padding: 20px;
}

body > header{
    margin-bottom: 2em;
}

main{
    max-width: 1680px;
    margin: 0 auto!important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 48px;
}

.menu-list li {
    list-style: none;
}

select{
    width: 100%;
}

.input{
    border-radius: 0;
}

.footer {
    padding: 1rem 1.5rem 1rem;
}

.footer img {
    height: 1em;
}

#popcorn-bucket{
    position: relative;
}

#popcorn-bucket img{
    width: 100%;
}

#popcorn-bucket figcaption{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
}

.saved-watch-list-container{
    width: 60%;
    height: 80%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #fff;
}
